
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Moghuls History - Quiz</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Moghuls History Quiz</h1>

<form action="/submit_quiz" method="POST">
<ol>
<li>What was the name of the first Moghul emperor?</li>
<input type="radio" name="answer" value="Babur"> Babur
<input type="radio" name="answer" value="Humayun"> Humayun
<input type="radio" name="answer" value="Akbar"> Akbar
<input type="radio" name="answer" value="Jahangir"> Jahangir
</li>

<li>Which Moghul emperor built the Taj Mahal?</li>
<input type="radio" name="answer" value="Shah Jahan"> Shah Jahan
<input type="radio" name="answer" value="Aurangzeb"> Aurangzeb
<input type="radio" name="answer" value="Akbar"> Akbar
<input type="radio" name="answer" value="Jahangir"> Jahangir
</li>

<li>What was the capital of the Moghul Empire?</li>
<input type="radio" name="answer" value="Delhi"> Delhi
<input type="radio" name="answer" value="Agra"> Agra
<input type="radio" name="answer" value="Lahore"> Lahore
<input type="radio" name="answer" value="Kabul"> Kabul
</li>

<li>Which Moghul emperor was known as the "Great Mughal"?</li>
<input type="radio" name="answer" value="Akbar"> Akbar
<input type="radio" name="answer" value="Jahangir"> Jahangir
<input type="radio" name="answer" value="Shah Jahan"> Shah Jahan
<input type="radio" name="answer" value="Aurangzeb"> Aurangzeb
</li>

<li>What was the main religion of the Moghuls?</li>
<input type="radio" name="answer" value="Islam"> Islam
<input type="radio" name="answer" value="Hinduism"> Hinduism
<input type="radio" name="answer" value="Buddhism"> Buddhism
<input type="radio" name="answer" value="Sikhism"> Sikhism
</li>
</ol>

<input type="submit" value="Submit">
</form>
</body>
</html>

